BODY {
	FONT-SIZE: 12px; MARGIN: 0px
}
TABLE {
	FONT-SIZE: 12px; COLOR: #007ba8; FONT-FAMILY: "Arial","Tahoma","宋体"
}
TR {
	FONT-SIZE: 12px; COLOR: #007ba8; FONT-FAMILY: "Arial","Tahoma","宋体"
}
TD {
	FONT-SIZE: 12px; COLOR: #007ba8; FONT-FAMILY: "Arial","Tahoma","宋体"
}
DIV {
	FONT-SIZE: 12px; MARGIN-LEFT: auto; OVERFLOW: hidden; COLOR: #007ba8; LINE-HEIGHT: 24px; MARGIN-RIGHT: auto; FONT-FAMILY: "Arial","Tahoma","宋体"
}
HR {
	BORDER-RIGHT: 0px; BORDER-TOP: #ddd 1px solid; BORDER-LEFT: 0px; WIDTH: 96%; BORDER-BOTTOM: 0px; HEIGHT: 0px
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
A {
	COLOR: #007ba8; TEXT-DECORATION: none
}
A:hover {
	COLOR: #f60f60; TEXT-DECORATION: underline
}
A.link {
	COLOR: #999
}
A.redcolor {
	COLOR: #cb4721
}
A.redcolor:hover {
	COLOR: #222
}
#header {
	BACKGROUND: url(head_bg.jpg) #fff repeat-x 50% bottom; MARGIN: 0px auto; POSITION: relative; HEIGHT: 105px; TEXT-ALIGN: center
}
#header .header {
	WIDTH: 969px
}
#header #menu {
	BACKGROUND: url(menu_bg.jpg) repeat-x 50% top; WIDTH: 100%; WHITE-SPACE: nowrap; HEIGHT: 33px; TEXT-ALIGN: left
}
#menu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#menu LI {
	BACKGROUND: url(menu_line.jpg) no-repeat right top; FLOAT: left; HEIGHT: 33px
}
#menu LI A {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 10px; COLOR: #fff; PADDING-TOP: 6px; TEXT-DECORATION: none
}
#menu LI A:hover {
	BACKGROUND: url(menu_li_hover.jpg) no-repeat left top; COLOR: #000
}
#menu LI#search {
	BACKGROUND: url(menu_right.jpg) no-repeat right top; FLOAT: right; PADDING-TOP: 6px
}
#menu LI#search INPUT {
	BORDER-RIGHT: #065387 1px solid; BORDER-TOP: #065387 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #065387 1px solid; WIDTH: 120px; COLOR: #666; BORDER-BOTTOM: #065387 1px solid; HEIGHT: 20px
}
#menu LI#search INPUT.submit {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-WEIGHT: 600; BACKGROUND: url(search_bg.jpg) no-repeat left 50%; BORDER-LEFT: 0px; WIDTH: 59px; CURSOR: pointer; COLOR: #fff; BORDER-BOTTOM: 0px; HEIGHT: 20px
}
#menu LI A#menu_home {
	BACKGROUND: url(menu_home_other.jpg) no-repeat left top; WIDTH: 84px
}
#menu LI A#menu_home:hover {
	BACKGROUND: url(menu_home.jpg) no-repeat left top
}
#top {
	BACKGROUND: url(mainbg.gif) #eef4f6 repeat-x; MARGIN: 0px auto; WIDTH: 969px; POSITION: relative; TOP: -1px; TEXT-ALIGN: center
}
#notice_1 {
	OVERFLOW: hidden; HEIGHT: 120px
}
#body {
	WIDTH: 969px; PADDING-TOP: 10px; POSITION: relative
}
#body .table {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px
}
#left_1 {
	FLOAT: left; WIDTH: 210px; TEXT-ALIGN: left
}
#middle_1 {
	FLOAT: left; WIDTH: 9px
}
#right_1 {
	FLOAT: left; WIDTH: 730px; TEXT-ALIGN: left
}
#left_2 {
	FLOAT: left; WIDTH: 730px; TEXT-ALIGN: left
}
#middle_2 {
	FLOAT: left; WIDTH: 9px
}
#right_2 {
	FLOAT: left; WIDTH: 210px; TEXT-ALIGN: left
}
#left_3 {
	FLOAT: left; WIDTH: 210px; TEXT-ALIGN: left
}
#middle {
	FLOAT: left; WIDTH: 529px; TEXT-ALIGN: left
}
#right_3 {
	FLOAT: right; WIDTH: 210px; TEXT-ALIGN: left
}
#foot {
	BACKGROUND: url(foot_bg.jpg) repeat-x 50% bottom; POSITION: relative; HEIGHT: 68px
}
#foot .table {
	WIDTH: 969px; PADDING-TOP: 15px
}
.global_sub {
	BORDER-RIGHT: #d2dfe6 1px solid; PADDING-LEFT: 15px; BACKGROUND: url(subject_bg.jpg) #d2dfe6 repeat-x; BORDER-LEFT: #d2dfe6 1px solid; PADDING-TOP: 8px; HEIGHT: 33px
}
.border_no_top {
	BORDER-RIGHT: #d2dfe6 1px solid; BORDER-LEFT: #d2dfe6 1px solid; BORDER-BOTTOM: #d2dfe6 1px solid
}
.border_left_right {
	BORDER-RIGHT: #d2dfe6 1px solid; BORDER-LEFT: #d2dfe6 1px solid
}
.border {
	BORDER-RIGHT: #d2dfe6 1px solid; BORDER-TOP: #d2dfe6 1px solid; BORDER-LEFT: #d2dfe6 1px solid; BORDER-BOTTOM: #d2dfe6 1px solid
}
.userlogin_over {
	BORDER-RIGHT: #c60000 1px solid; BORDER-TOP: #c60000 1px solid; BORDER-LEFT: #c60000 1px solid; WIDTH: 110px; BORDER-BOTTOM: #c60000 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #f7f2bd
}
.userlogin_out {
	WIDTH: 110px; HEIGHT: 20px
}
.space_between {
	HEIGHT: 5px
}
.float_left {
	FLOAT: left
}
.pagelist {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 3px; BORDER-TOP: 0px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px
}
.pagelist .n {
	BORDER-RIGHT: #d2dfe6 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d2dfe6 1px solid; PADDING-LEFT: 5px; BACKGROUND: #ffffff; PADDING-BOTTOM: 3px; BORDER-LEFT: #d2dfe6 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #d2dfe6 1px solid
}
.pagelist .m {
	BORDER-RIGHT: #d2dfe6 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d2dfe6 1px solid; PADDING-LEFT: 5px; BACKGROUND: #e7eef1; PADDING-BOTTOM: 3px; BORDER-LEFT: #d2dfe6 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #d2dfe6 1px solid
}
.list_over {
	BACKGROUND: #e7eef1; PADDING-TOP: 3px; BORDER-BOTTOM: #d2dfe6 1px dashed
}
.list_out {
	PADDING-TOP: 3px; BORDER-BOTTOM: #d2dfe6 1px dashed
}
.msg_sub {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; FONT: bold 15px "Tahoma","Arial","宋体"; COLOR: #486f84; PADDING-TOP: 5px; TEXT-ALIGN: center
}
.msg_date {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; FONT: 0.83em/1.5em Verdana, Arial, Helvetica, sans-serif; PADDING-TOP: 3px; TEXT-ALIGN: center
}
.msg_content {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; TEXT-ALIGN: left
}
.button {
	BORDER-RIGHT: #7b9ebd; BORDER-TOP: #7b9ebd; BACKGROUND: url(btn.gif) #fff repeat-x; BORDER-LEFT: #7b9ebd; BORDER-BOTTOM: #7b9ebd; HEIGHT: 25px
}
.error {
	BORDER-RIGHT: #d2dfe6 1px dashed; PADDING-RIGHT: 15px; BORDER-TOP: #d2dfe6 1px dashed; PADDING-LEFT: 15px; PADDING-BOTTOM: 15px; BORDER-LEFT: #d2dfe6 1px dashed; WIDTH: 450px; LINE-HEIGHT: 150%; PADDING-TOP: 15px; BORDER-BOTTOM: #d2dfe6 1px dashed
}
.wtr {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BORDER-BOTTOM: #d2dfe6 1px solid; POSITION: relative; TEXT-ALIGN: left
}
.dtr {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #eef4fd; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BORDER-BOTTOM: #d2dfe6 1px solid; POSITION: relative; TEXT-ALIGN: left
}

.tLeft{text-align:left;}
.tRight{text-align:right;}
.tCenter{text-align:center;}
.tTop{vertical-align:top;}
.tBottom{vertical-align:bottom;}
.tMiddle{vertical-align:middle;}
.hMargin{margin-left:3px;margin-right:3px;}
.vMargin{margin-top:3px;margin-bottom:3px}

.fLeft{float:left}
.fRig{float:right}
.fNone{float:none}
.cBoth{clear:both}
.huge{width:350px;}
.large{width: 280px;}
.medium {	width: 150px;}
.small {	width: 65px;}
.mini {	width: 35px;}

input.text {
	padding: 4px 1px;
	border: 1px solid #C1C0B5;
	color: #555; 
	background-color: #FAFAF0;
}
input.button {
	height: 20px;
	border: 1px solid #C1C0B5;
	border-top: 1px solid #C1C0B5;
	border-left: 4px solid #C1C0B5;
	color: #555; 
	background-color: #FAFAF0;
}
input.submit { 
	background: #F1F1F1 url(../images/idx_btnbg.gif) center repeat-x; 
	border: 1px solid gray; 
	height: 25px; 
	color: #333333;
	cursor:pointer;
}
.result{
	padding:5px ;	
	margin:5px; 
	font-size:12px;
	border:1px #E8E7D0 solid; 
	background:#fff;
	line-height:185%;
	color:#393939;
	font-weight:bold;
	float:auto;
	height:25px;
}
.none{
 display:none;
}
.comment-pages{
	padding:5px;
	margin: 5px;
	color: #999;
}
.commentbox { 
     padding:5px ;	
	 margin:5px; 
	 border:1px #E8E7D0 solid; 
	 background:#fff;
}
.commauthor { 
    background:#F4F9EE;
}
.commentbox-title { 
    padding:3px; 
	border-bottom:1px dashed #E8E7D0; 
	margin-bottom:5px;
}
.commentbox-title b a { 
   color:#333;
}
.commentbox-label { 
   display:inline; 
   color:#ccc;	
   font-size:11px;
}
.commentbox-content { 
    padding:5px 10px;
    word-wrap:break-word; 
	line-height:150%;
}

.no-comment-box { 
    padding:10px;	
	margin:5px; 
	color:#666; 
	background:#FCFCFC; 
	border:1px solid #E0E0E0; 
}
.thumbImage{ 
　　width:200px; 
}